* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;

}


